<div class="container-fluid pt-4 ps-5">
    <a href="#" class="text-decoration-none d-flex align-items-center">
        <i class="bi bi-paw-fill fs-3 text-black logo-icon me-2"></i>
        <span class="fs-2 fw-bold text-primary">PetCareUS</span>
    </a>
</div>

<div class="flex-grow-1 d-flex justify-content-center align-items-center">
    <div class="container px-3" style="max-width: 500px;">

        <h1 class="text-center fw-bold display-4 mb-5 text-black">WELCOME BACK</h1>

        <form method = "POST">
            <div class="mb-4">
                <input type="email" class="form-control border-dark border-3 rounded-4 py-3 fs-5 shadow-sm"
                    placeholder="Email">
            </div>

            <div class="mb-2">
                <input type="password" class="form-control border-dark border-3 rounded-4 py-3 fs-5 shadow-sm"
                    placeholder="Password">
            </div>

            <div class="d-flex justify-content-end mb-4">
                <a href="#" class="text-danger text-decoration-none small hover-underline">Forgot password?</a>
            </div>

            <div class="mb-5 text-center fs-5">
                Already have no account?
                <a href="/vwAccounts/signup" class="text-primary text-decoration-none fw-bold">JOIN WITH US</a>
            </div>

            <div class="text-center">
                <button type="button"
                    class="btn btn-outline-primary border-2 rounded-pill px-5 py-2 fw-bold fs-5 shadow-sm">
                    LOGIN
                </button>
            </div>
        </form>

    </div>
</div>